body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("./darker_wood.jpg.crdownload");
    color: navajowhite;
}
ul{
    list-style-type: none;
}

#opponent-choice {
    width: 240px;
    height: 240px;
    /* background-color: cyan; */
    margin-top: 10px;
}

#your-choice {
    width: 240px;
    height: 240px;
    /* background-color: yellow; */
    margin-top: 10px; 
}

#choices {
    position: absolute;
    left: 90%;
    top: 30%;
}

#choices img {
    width: 80px;
    height: 80px;
}